<div class="contenedor">
    <div class="ui small secondary inverted pointing menu">
        <a class="item" [ngClass]="{'active': selectHome == 1}" (click)="changeNavbar(1)" [routerLink]="['home']">Menu</a>
        <a class="item" [ngClass]="{'active': selectHome == 2}" (click)="changeNavbar(2)" [routerLink]="['admin']">Administración</a>
        <div class="right item">
            <a class="ui inverted" [ngClass]="{'active': selectHome == 3}" (click)="changeNavbar(4)"><i class="far fa-user" style="color:white;" ></i></a>
        </div>
    </div>

</div>