<div class="admin">
    <div class="ui vertical stripe segment " style="margin-top:2em">
        <h1>Platos Fuertes</h1>
    </div>

    <div class="ui vertical stripe segment " style="margin-top:2em">
        <div class="ui segments">
            <div class="ui secondary segment">
                <button class="ui positive basic button fluid">Agregar</button>
            </div>
            <div class="ui segment">
                <div class="ui three cards">
                    <div class="card">
                        <div class="content">
                            <div class="header">Plato 1</div>
                            <div class="description">
                                Elliot Fu is a film-maker from New York.
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button"><i class="edit icon"></i></div>
                                <div class="ui basic red button"><i class="trash icon"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment " style="margin-top:2em">
        <h1>Platos Fuertes</h1>
    </div>

    <div class="ui vertical stripe segment " style="margin-top:2em">
        <div class="ui segments">
            <div class="ui secondary segment">
                <button class="ui positive basic button fluid">Agregar</button>
            </div>
            <div class="ui segment">
                <div class="ui three cards">
                    <div class="card">
                        <div class="content">
                            <div class="header">Plato 1</div>
                            <div class="description">
                                Elliot Fu is a film-maker from New York.
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button"><i class="edit icon"></i></div>
                                <div class="ui basic red button"><i class="trash icon"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="header">Plato 2</div>
                            <div class="description">
                                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button"><i class="edit icon"></i></div>
                                <div class="ui basic red button"><i class="trash icon"></i></div>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="header">Plato 3</div>
                            <div class="description">
                                Jenny is a student studying Media Management at the New School
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button"><i class="edit icon"></i></div>
                                <div class="ui basic red button"><i class="trash icon"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>