.primeraetapa {
    height: 100%;
}

.centrar {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centrar2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.centrar3 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5rem;
}

.ui.styled.accordion {
    text-align: -webkit-auto !important;
    height: 90%;
    width: 100%;
}

.ui.grid {
    align-content: center;
    height: 100%;
    margin: 0;
}

.back {
    height: 100%;
    width: 100%;
}

.scroll {
    margin-top: 1.5rem;
    max-height: 10rem;
    overflow-y: scroll;
}

.ui.divided.items {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.contenido {
    color: black;
}