<div class="admin">
    <div class="ui vertical stripe segment " style="margin-top:2em">
        <h1>Platos Fuertes</h1>
    </div>

    <div class="ui vertical stripe segment " style="margin-top:2em">
        <div class="ui segments">
            <div class="ui secondary segment">
                <button class="ui positive basic button fluid">Agregar</button>
            </div>
            <div class="ui segment">
                <div class="ui three cards">
                    <div class="card" *ngFor="let ingrediente of listIngredientes">
                        <div class="content">
                            <div class="header">{{ ingrediente.ingredientname }}</div>
                            <div class="description">
                                {{ ingrediente.description }}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <button (click)="abrirModal(ingrediente.pk_idingredient-1, 1)" class="ui basic green button"><i class="edit icon"></i></button>
                                <div class="ui basic red button"><i class="trash icon"></i></div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment " style="margin-top:2em">
        <h1>Platos Fuertes</h1>
    </div>

    <div class="ui vertical stripe segment " style="margin-top:2em">
        <div class="ui segments">
            <div class="ui secondary segment">
                <button class="ui positive basic button fluid">Agregar</button>
            </div>
            <div class="ui segment">
                <div class="ui three cards">
                    <div class="card" *ngFor="let plato of listPlatos">
                        <div class="content">
                            <div class="header">{{plato.platename}}</div>
                            <div class="description">
                                {{ plato.platedescription }}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="center aligned author">
                                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Jenny
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button"><i class="edit icon"></i></div>
                                <div class="ui basic red button"><i class="trash icon"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<sui-modal *ngIf="show" [isClosable]="true" (dismissed)="show = false" #modal>
    <div class="header">{{ actualPlato.platename || actualIngrediente.ingredientname }}</div>
    <div class="scrolling content">
        <p> This is Test Content</p>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="modal.deny()">Cancel</button>
        <button class="ui green button" (click)="modal.approve('done')" autofocus>OK</button>
    </div>
</sui-modal>